
body{
    /*background-image: linear-gradient(180deg, #FFFEFF 0%, #D7FFFE 100%);*/
    background-color: whitesmoke;
    /*font-family: 'Mukta', sans-serif; previous font-family*/
    font-family: 'Barlow Condensed', sans-serif;
}

.container{width: 60%;}
.btn{background-color: #D7FFFE;}

/*header and search box border */
.header-box {
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/*weather image*/
.imgHr, .imgFc{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#weatherIcon{
    display:block;
    width:45%;
}

/*Container Shadow*/
.m-info, .fourHour, .uv, .win, .poll, 
.precipitation, .daily{
    border-radius: 10px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}  

.poll{
    color:white
}

/*Font Size*/
#desc{font-size: 30px;}
#airQuality{font-size: 50px;}
#uv-desc, #airQualityCond{font-size: 20px;}
#precip, #humid{font-size:40px;}
#temp, #tempUnit{font-size: 100px;font-weight: bolder;}
#symbol{font-size: 60px;}
#windDir, #windSpeed, #pressure{font-size: 30px;}
#windDirTitle{font-size: 20px;}

/*Main Info Container background color*/
.m-info{background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);}


/*--------------------------------
    Style for Table - Start
--------------------------------*/
.divTable{
	display: table;
	width: 100%;
}

.divTableRow {
	display: table-row;
}

.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}

.divTableCell, .divTableHead {
	display: table-cell;
	padding: 3px 10px;
}

.divTableBody {
	display: table-row-group;
}
/*--------------------------------
    Style for Table - End
--------------------------------*/

/*--------------------------------
    Style for Progress bar - Start
--------------------------------*/
.progress_bar{
    height: 20px;
    background-color:#231E26;
    border-radius:15px;
    box-shadow:0 4px 7px -5px #000 inset;
}

.progress_bar:first-child{
    margin: 50px 0;
}

.progress_bar .pro-bar{
    background-color: linear-gradient(to right,#d98164 35%,#a9b487 68%);
    position: relative;
    height: 100%;
    box-shadow: 0 1px 11px -4px #fff inset;
    border-radius:15px;
    animation: animate-positive 4s;
}

@-webkit-keyframes animate-positive {
    0% { width: 0%;}
}

@keyframes animate-positive {
    0% { width:0%; }
}

/*--------------------------------
    Style for Progress bar - End
--------------------------------*/

/*--------------------------------
    Media Query - Start
--------------------------------*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2){

    .container{width: 80%;}
    #temp, #tempUnit{font-size: 50px;}
    #symbol{font-size: 30px;}
    #desc{font-size: 25px;line-break:strict;}
    #uv-desc{font-size: 19px; text-align: justify;}
    #fourHourForecast{text-align: center;}
    #uv-desc, #uvLevel{padding-top: 30px;}
    #searchBtn{margin-top: 10px;}
    

    /*splitter for fourhour and daily*/
    .top{
        margin-top: 20px;
        padding-top: 60px;
        border-top: solid 1px;
    }

    .divTableCell{
        display: table-cell;
        padding: 5px 3px;
    }
    
    .col-sm-6{
        padding-top: 30px;
    }

    .header-box .row .col-sm-6 {
        padding-top:5px;
    }

    #searchBtn {
        margin-left: 1px;
        margin-bottom: 10px;
    }
}
/*--------------------------------
    Media Query - End
--------------------------------*/
